name: Compile LaTeX

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v2
        with:
          root_file: main.tex

      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main.pdf
